.outer-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}

h1 {
    margin: 0;
}

.app-wrapper {
    margin-block: 5%;
    min-width: 30%;
}

.no-todo {
    text-align: center;
    scale: 1.1;
}

.input-wrapper {
    margin-block: 1rem 2rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.input-wrapper input {
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    flex-grow: 1;
}

.btn {
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.btn:active, .btn:focus, .btn:focus-visible {
    border-color: #999;
    box-shadow: 0px 0px 0px 1px #ffffff, 0px 0px 1px 4px #999;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-block: .5rem;
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.todo-item label {
    position: relative;
    flex-grow: 1;
    top: -1px;
    margin-left: .5rem;
}

.del-wrapper {
    display: flex;
    flex-direction: row-reverse;
}